
@{
    ViewBag.Title = "_Menu";
}

<div class="tlu-menu">

    <div class="column-2">
        <ul>

            <li>
                <a id="dnn_ctr579_ViewCmsMenu_ctl00_rptMn0_hpl_0" href="/LopHoc/Index">Lớp học</a>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                <ul>

                    <li>
                        <a id="dnn_ctr579_ViewCmsMenu_ctl00_rptMn0_hpl_0" href="/LopHoc/LopHocTuTao">Lớp học tự tạo</a>
                        <ul>
                        </ul>
                    </li>

                    <li>
                        <a id="dnn_ctr579_ViewCmsMenu_ctl00_rptMn0_hpl_0" href="#">Lớp học tham gia</a>
                        <ul>
                        </ul>
                    </li>
                    <li>
                        <a id="dnn_ctr579_ViewCmsMenu_ctl00_rptMn0_hpl_0" href="#">Tìm kiếm lớp học</a>
                        <ul>
                        </ul>
                    </li>


                </ul>
            </li>

            <li>
                <a id="dnn_ctr579_ViewCmsMenu_ctl00_rptMn0_hpl_0" href="/HocPhan/Detail">Học phần</a>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                <ul>

                    <li>
                        <a id="dnn_ctr579_ViewCmsMenu_ctl00_rptMn0_hpl_0" href="/HocPhan/HocPhanTuTao">Học phần tự tạo</a>
                        <ul>
                        </ul>
                    </li>

                    <li>
                        <a id="dnn_ctr579_ViewCmsMenu_ctl00_rptMn0_hpl_0" href="/HocPhan/HocPhanNgoaiTao">Học phần ngoại tạo</a>
                        <ul>
                        </ul>
                    </li>
                    <li>
                        <a id="dnn_ctr579_ViewCmsMenu_ctl00_rptMn0_hpl_0" href="#">Tìm kiếm học phần</a>
                        <ul>
                        </ul>
                    </li>


                </ul>
            </li>

            <li>
                <a id="dnn_ctr579_ViewCmsMenu_ctl00_rptMn0_hpl_0" href="#">Điều khoản</a>

            </li>


        </ul>
    </div>
</div>

